<form
  class="flex flex-column gap-3"
  [formGroup]="formGroup"
  (ngSubmit)="createOrEdit()"
>
  <div class="flex gap-3 mt-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="name">Nombre</label>
      <input
        pInputText
        styleClass="w-full"
        formControlName="name"
        inputId="name"
      />
    </div>
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="status">Estado</label>
      <p-dropdown
        [options]="statusOptions"
        styleClass="w-full"
        formControlName="status"
        optionLabel="name"
        optionValue="code"
        placeholder="Seleccione el estado"
      />
    </div>
  </div>

  <div class="flex gap-3 mt-3 w-full">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="descriptions">Descripciones</label>
      <p-chips
        inputId="descriptions"
        formControlName="descriptions"
        styleClass="w-full"
      />
    </div>
  </div>

  <div class="w-full flex justify-content-end mt-3">
    <p-button
      class="btn-primary"
      type="submit"
      [disabled]="!formGroup.valid"
      [loading]="loading"
      label="Guardar perfil"
    />
  </div>
</form>
