<div
  [class]="
    'sidebar overflow-y-auto' +
    (showSidebar ? ' show-sidebar' : ' hide-sidebar')
  "
>
  <ul class="list-none p-0 m-0 overflow-hidden">
    <li>
      <div
        class="flex align-items-center justify-content-between text-700 brand"
      >
        <i
          class="pi pi-bars cursor-pointer text-2xl"
          (click)="changeStatusSidebar(!showSidebar)"
        ></i>
        @if (showSidebar) {
        <img style="width: 120px" src="./assets/images/logo.png" />
        }
      </div>
    </li>
    <li class="mt-5">
      <a
        pRipple
        routerLink="/admin/usuarios"
        routerLinkActive="active"
        [class]="
          'item no-underline flex align-items-center cursor-pointer p-3 text-700' +
          (showSidebar ? '' : ' only-icon')
        "
      >
        <i class="pi pi-users text-2xl"></i>
        <span
          [class]="
            'font-medium ml-2' + (showSidebar ? ' show-item' : ' hide-item')
          "
          >Usuarios</span
        >
      </a>
    </li>

    <li>
      <a
        pRipple
        routerLink="/admin/perfiles"
        routerLinkActive="active"
        [class]="
          'item no-underline flex align-items-center cursor-pointer p-3 text-700' +
          (showSidebar ? '' : ' only-icon')
        "
      >
        <i class="pi pi-id-card text-2xl"></i>
        <span
          [class]="
            'font-medium ml-2' + (showSidebar ? ' show-item' : ' hide-item')
          "
          >Perfiles</span
        >
      </a>
    </li>
  </ul>
  <ul class="list-none p-0 m-0 overflow-hidden">
    <li>
      <a
        pRipple
        (click)="logout()"
        [class]="
          'item no-underline flex align-items-center cursor-pointer p-3 text-700' +
          (showSidebar ? '' : ' only-icon')
        "
      >
        <i class="pi pi-power-off text-2xl"></i>
        <span
          [class]="
            'font-medium ml-2' + (showSidebar ? ' show-item' : ' hide-item')
          "
          >Cerrar sesión</span
        >
      </a>
    </li>
  </ul>
</div>
