<div class="page-container">
  <div class="flex align-items-center justify-content-between">
    <h2>Listado de concesionarios</h2>
  </div>

  <p-card>
    <div class="flex flex-column justify-content-between gap-3">
      <p-table [value]="dealers" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">
          <div class="w-full flex justify-content-between">
            <div class="w-full block">
              <p-button label="Agregar concesionario" icon="pi pi-plus" (click)="showCreateModal()" />
            </div>
            <div class="w-full flex">
              <p-inputGroup>
                <input pInputText type="text" [(ngModel)]="modelSearch" placeholder="Buscar concesionarios"
                  (keyup.enter)="search()" />
                <button pButton type="button" icon="pi pi-search" class="p-button-primary w-2"
                  (click)="search()"></button>
              </p-inputGroup>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 10%" pSortableColumn="id">ID<p-sortIcon field="id" /></th>
            <th>Nombre</th>
            <th>Rif</th>
            <th>Dirección</th>
            <th>Porcentaje</th>
            <th>Código</th>
            <th>Fecha de registro</th>
            <th style="width: 10%">Acción</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dealer>
          <tr>
            <td>{{ dealer.id }}</td>
            <td [pTooltip]="dealer.name" tooltipPosition="top">
              {{ dealer.name }}
            </td>
            <td [pTooltip]="dealer.rif" tooltipPosition="top">
              {{ dealer.rif }}
            </td>
            <td [pTooltip]="dealer.street" tooltipPosition="top">
              {{ dealer.street }}
            </td>
            <td [pTooltip]="dealer.percent" tooltipPosition="top">
              {{ dealer.percent + ' %' }}
            </td>
            <td [pTooltip]="dealer.code" tooltipPosition="top">
              {{ dealer.code }}
            </td>
            <td pTooltip="{{dealer.date | dateFormat}}" tooltipPosition="top">
              {{ dealer.date | dateFormat }}
            </td>
            <td class="flex gap-1 p-5">
              <button pButton type="button" icon="pi pi-pen-to-square" class="p-button-primary"
                (click)="showEditModal(dealer)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">
              {{ queryPagination.search == "" ? "No se han creado concesionarios" : "No se han encontrado coincidencias"
              }}
            </td>
          </tr>
        </ng-template>
      </p-table>

      <p-paginator #paginator (onPageChange)="onPageChange($event)" [rows]="queryPagination.size"
        [totalRecords]="totalRows" />
    </div>
  </p-card>
</div>
