<div class="page-container">
  <div class="flex align-items-center justify-content-between">
    <h2>Listado de usuarios</h2>
  </div>

  <p-card>
    <div class="flex flex-column justify-content-between gap-3">
      <p-table
        [value]="users"
        styleClass="p-datatable-striped"
        [tableStyle]="{ 'min-width': '50rem' }"
        [loading]="isLoading"
      >
        <ng-template pTemplate="caption">
          <div class="w-full flex justify-content-between">
            <div class="flex align-items-center gap-2">
              <label class="mr-2">Filtrar por tipo:</label>
              <p-dropdown
                [options]="userTypes"
                [(ngModel)]="selectedUserType"
                optionLabel="name"
                optionValue="code"
                placeholder="Tipo de usuario"
                (onChange)="search()"
              />
              <p-button
                label="Crear Experto"
                icon="pi pi-plus"
                (click)="showCreateModal('expert')"
              />
              <p-button
                label="Crear Usuario"
                icon="pi pi-plus"
                (click)="showCreateModal('user')"
              />
            </div>

            <p-inputGroup class="w-5">
              <input
                pInputText
                type="text"
                [(ngModel)]="modelSearch"
                placeholder="Buscar usuarios"
                (keyup.enter)="search()"
              />
              <button
                pButton
                type="button"
                icon="pi pi-search"
                class="p-button-primary w-2"
                (click)="search()"
              ></button>
            </p-inputGroup>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre completo</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Teléfono</th>
            <th>Cédula</th>
            <th>Registro</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td
              [pTooltip]="user.firstName + ' ' + user.lastName"
              tooltipPosition="top"
            >
              {{ user.firstName + " " + user.lastName }}
            </td>
            <td [pTooltip]="user.email" tooltipPosition="top">
              {{ user.email }}
            </td>
            <td [pTooltip]="user.role" tooltipPosition="top">
              {{
                user.role == "expert"
                  ? "Experto"
                  : user.role == "user"
                  ? "Usuario"
                  : "Admin"
              }}
            </td>
            <td [pTooltip]="user.phone" tooltipPosition="top">
              {{ user.phone }}
            </td>
            <td [pTooltip]="user.dni" tooltipPosition="top">
              <div class="flex align-items-center gap-1">
                @if (user.dniImg && user.dniImg != 'undefined' ) {
                <p-button
                  icon="pi pi-image"
                  [rounded]="true"
                  [text]="true"
                  [raised]="true"
                  (click)="showDniModal(user.dniImg)"
                />
                }
                {{ user.dni }}
              </div>
            </td>
            <td [pTooltip]="user.createdAt | dateFormat" tooltipPosition="top">
              {{ user.createdAt | dateFormat }}
            </td>
            <td class="flex gap-1 p-5">
              <button
                pButton
                type="button"
                icon="pi pi-pen-to-square"
                class="p-button-primary"
                (click)="showEditModal(user)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">
              {{
                queryPagination.search == ""
                  ? "No se han creado usuarios"
                  : "No se han encontrado coincidencias"
              }}
            </td>
          </tr>
        </ng-template>
      </p-table>

      <p-paginator
        #paginator
        (onPageChange)="onPageChange($event)"
        [rows]="queryPagination.pageSize"
        [totalRecords]="totalRows"
      />
    </div>
  </p-card>
</div>
