<form class="flex flex-column gap-3" [formGroup]="option == 'edit' ? formGroupEdit: formGroupCreate"
  (ngSubmit)="createOrEdit()">

  <div class="flex gap-3 mt-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="name">Nombre del dealer</label>
      <input pInputText styleClass="w-full" formControlName="name" inputId="name" />
    </div>

    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="rif">Rif</label>
      <input pInputText styleClass="w-full" formControlName="rif" inputId="rif" />
    </div>
  </div>

  <div class="flex">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="street">Dirección</label>
      <input pInputText styleClass="w-full" formControlName="street" inputId="street" />
    </div>
  </div>

  @if(option != 'edit'){
  <div class="flex mt-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="email">Correo electrónico del administrador</label>
      <input pInputText styleClass="w-full" formControlName="email" inputId="email" />
    </div>
  </div>

  <div class="flex gap-3 mt-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="password">Contraseña del administrador</label>
      <p-password id="password" styleClass="w-full" inputStyleClass="w-full" formControlName="password"
        [toggleMask]="true" [feedback]="false" />
    </div>

    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="password2">Repite la contraseña</label>
      <p-password id="password2" styleClass="w-full" inputStyleClass="w-full" formControlName="password2"
        [toggleMask]="true" [feedback]="false" />
    </div>
  </div>

  <p-messages class="mt-2" [(value)]="errorPassword" [enableService]="false" [closable]="false" />

  }

  <div class="flex gap-3 mt-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="percent">Porcentaje</label>
      <p-inputNumber styleClass="w-full" formControlName="percent" inputId="percent" [minFractionDigits]="2"
        suffix=" %" />
    </div>

    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="code">Código</label>
      <div class="flex flex-row align-items-center gap-2 w-full">
        <p-inputNumber class="w-full" styleClass="w-full" mode="decimal" [useGrouping]="false" formControlName="code"
          inputId="code" [readonly]="true" />
        @if (option != 'edit') {
        <p-button icon="pi pi-refresh" (onClick)="generateCode()" />
        }
      </div>
    </div>
  </div>

  <div class="w-full flex justify-content-end mt-3">
    @if (option == 'edit') {
    <p-button class="btn-primary" type="submit" [disabled]="!formGroupEdit.valid" [loading]="loading"
      label="Guardar dealer" />
    } @else {
    <p-button class="btn-primary" type="submit" [disabled]="!formGroupCreate.valid" [loading]="loading"
      label="Guardar dealer" />
    }
  </div>
</form>
