<form
  class="flex flex-column gap-3"
  [formGroup]="formGroup"
  (ngSubmit)="createOrEdit()"
>
  <div class="flex gap-3 mt-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="name">Nombre del producto</label>
      <input
        pInputText
        styleClass="w-full"
        formControlName="name"
        inputId="name"
      />
    </div>

    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="code_dealer">Concesionario</label>
      <p-dropdown
        styleClass="w-full"
        inputId="code_dealer"
        formControlName="code_dealer"
        [options]="dealersDrop"
        optionLabel="name"
        optionValue="code"
        placeholder="Seleccione un concesionario"
      />
    </div>
  </div>

  <div class="flex gap-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="category">Categoría</label>
      <p-dropdown
        styleClass="w-full"
        inputId="category"
        formControlName="category"
        [options]="categories"
        optionLabel="name"
        optionValue="code"
        placeholder="Seleccione una categoría"
        (onChange)="onChangeCategory($event.value)"
      />
    </div>

    @if (this.subCategoryOptions.length) {
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="sub_category">Sub categoría</label>
      <p-dropdown
        styleClass="w-full"
        inputId="sub_category"
        formControlName="sub_category"
        [options]="subCategoryOptions"
        optionLabel="name"
        optionValue="code"
        placeholder="Seleccione una sub categoría"
      />
    </div>
    }

    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="price">Precio</label>
      <p-inputNumber
        styleClass="w-full"
        formControlName="price"
        inputId="price"
        [minFractionDigits]="2"
      />
    </div>
  </div>

  <div class="flex gap-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="differential">Diferencial</label>
      <p-inputNumber
        styleClass="w-full"
        formControlName="differential"
        inputId="differential"
        [minFractionDigits]="2"
      />
    </div>

    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="earnings_percent">Ganancia</label>
      <p-inputNumber
        styleClass="w-full"
        formControlName="earnings_percent"
        inputId="earnings_percent"
        [minFractionDigits]="2"
      />
    </div>

    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="discount_usd">Descuento para pagos en divisas</label>
      <p-inputNumber
        styleClass="w-full"
        formControlName="discount_usd"
        inputId="discount_usd"
        suffix=" %"
        [min]="0"
        [max]="100"
      />
    </div>
  </div>

  <div class="w-full flex flex-column justify-content-center gap-2">
    <label for="atributes">Atributos</label>
    <p-chips
      inputId="atributes"
      formControlName="atributes"
      styleClass="w-full"
    />
  </div>

  <div class="w-full flex flex-column justify-content-center gap-2">
    <label>Seleccione la imágen del producto</label>
    <p-fileUpload
      [multiple]="false"
      chooseLabel="Examinar"
      accept="image/*"
      maxFileSize="1000000"
      [showCancelButton]="false"
      [showUploadButton]="false"
      (onSelect)="onSelectFile($event)"
    >
    </p-fileUpload>
  </div>

  <div class="w-full flex gap-2">
    <label for="outstanding">¿Asignar como producto destacado?</label>
    <p-inputSwitch inputId="outstanding" formControlName="outstanding" />
  </div>

  <div class="w-full flex justify-content-end mt-3">
    @if (option == 'edit') {
    <p-button
      class="btn-primary"
      type="submit"
      [disabled]="!formGroup.valid"
      [loading]="loading"
      label="Guardar producto"
    />
    } @else {
    <p-button
      class="btn-primary"
      type="submit"
      [disabled]="!formGroup.valid || files.length == 0"
      [loading]="loading"
      label="Guardar producto"
    />
    }
  </div>
</form>
