<div class="page-container">
  <div class="flex align-items-center justify-content-between">
    <h2>Listado de pagos</h2>
  </div>

  <p-card>
    <div class="flex flex-column justify-content-between gap-3">
      <p-table
        [value]="invoices"
        styleClass="p-datatable-striped"
        [tableStyle]="{ 'min-width': '50rem' }"
        [loading]="isLoading"
      >
        <ng-template pTemplate="caption">
          <div class="w-full flex justify-content-end">
            <p-inputGroup class="w-5">
              <input
                pInputText
                type="text"
                [(ngModel)]="modelSearch"
                placeholder="Buscar pagos"
                (keyup.enter)="search()"
              />
              <button
                pButton
                type="button"
                icon="pi pi-search"
                class="p-button-primary w-2"
                (click)="search()"
              ></button>
            </p-inputGroup>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Orden de Compra</th>
            <th>Pagado por</th>
            <th>Pagado a</th>
            <th>Monto</th>
            <th>Fecha</th>
            <th>Proximo Pago</th>
            <th>Descargar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invoice>
          <tr>
            <td
              [pTooltip]="
                { fechaISO: invoice.createdAt, order: invoice.purchaseOrder }
                  | purchaseOrder
              "
              tooltipPosition="top"
            >
              {{
                { fechaISO: invoice.createdAt, order: invoice.purchaseOrder }
                  | purchaseOrder
              }}
            </td>

            <td
              [pTooltip]="invoice.assignment.request.requester.email"
              tooltipPosition="top"
            >
              {{ invoice.assignment.request.requester.email }}
            </td>

            <td
              [pTooltip]="
                invoice.assignment.assigned
                  ? invoice.assignment.assigned.email
                  : 'Sin asignar'
              "
              tooltipPosition="top"
            >
              {{
                invoice.assignment.assigned
                  ? invoice.assignment.assigned.email
                  : "Sin asignar"
              }}
            </td>

            <td
              [pTooltip]="
                (invoice.amount | currency : 'USD' : 'symbol' : '1.2-2') || ''
              "
              tooltipPosition="top"
            >
              {{ invoice.amount | currency : "USD" : "symbol" : "1.2-2" }}
            </td>

            <td
              [pTooltip]="invoice.createdAt | dateFormat"
              tooltipPosition="top"
            >
              {{ invoice.createdAt | dateFormat }}
            </td>

            <td [pTooltip]="invoice.dueDate | dateFormat" tooltipPosition="top">
              {{ invoice.dueDate | dateFormat }}
            </td>

            <td class="flex gap-1 p-5">
              @if(invoice.urlInvoice){
              <button
                pButton
                type="button"
                icon="pi pi-download"
                class="p-button-primary"
                (click)="download(invoice)"
              ></button>
              }
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">
              {{
                queryPagination.search == ""
                  ? "No se han creado pagos"
                  : "No se han encontrado coincidencias"
              }}
            </td>
          </tr>
        </ng-template>
      </p-table>

      <p-paginator
        #paginator
        (onPageChange)="onPageChange($event)"
        [rows]="queryPagination.pageSize"
        [totalRecords]="totalRows"
      />
    </div>
  </p-card>
</div>
