<div class="flex justify-content-center align-items-center" style="height: 100vh;">
  <p-card class="card" header="Eliminar mi cuenta de Zueño">
    <ng-template pTemplate="header">
      <div class="header-login">
        <img src="./assets/images/logo.svg" />
      </div>
    </ng-template>

    <p>Para solicitar la eliminación de tu cuenta y los datos asociados, envía un correo electrónico a:
      <a href="mailto:contacto@zueño.app?subject=Eliminar mi cuenta">{{'contacto@zueño.app'}}</a>
      En el correo, incluye tu dirección de email registrada y cualquier otra información necesaria para identificar tu
      cuenta.
    </p>

    <h3>¿Qué datos se eliminan?</h3>
    <ul>
      <li>Toda la información personal asociada a tu cuenta será eliminada.</li>
      <li>Algunas retenciones legales pueden aplicar según la normativa.</li>
    </ul>

    <h3>Tiempo de respuesta:</h3>
    <p>Procesaremos tu solicitud en un plazo de 7 días hábiles.
    </p>

  </p-card>
</div>
