.card {
  width: 800px;
}

.header-login {
  width: 100%;
  padding-top: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 200px;
  }
}
