<div class="page-container">
  <div class="flex align-items-center justify-content-between">
    <h2>Listado de productos</h2>
  </div>

  <p-card>
    <div class="flex flex-column justify-content-between gap-3">
      <p-table
        [value]="nextInvoices"
        styleClass="p-datatable-striped"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="caption">
          <div class="w-full flex justify-content-end">
            <div class="w-full flex w-7">
              <p-dropdown
                class="mr-2"
                styleClass="w-15rem"
                [options]="categories"
                [(ngModel)]="modelCategory"
                optionLabel="name"
                optionValue="code"
                placeholder="Filtrar por categoría"
                (onChange)="search()"
              />
              <p-inputGroup>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="modelSearch"
                  placeholder="Buscar próximos pagos"
                  (keyup.enter)="search()"
                />
                <button
                  pButton
                  type="button"
                  icon="pi pi-search"
                  class="p-button-primary w-2"
                  (click)="search()"
                ></button>
              </p-inputGroup>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 10%" pSortableColumn="id">
              ID<p-sortIcon field="id" />
            </th>
            <th>Usuario</th>
            <th>Correo</th>
            <th>Producto</th>
            <th>Valor de cuota</th>
            <th>Progreso</th>
            <th>Fecha de pago</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-nextInvoice>
          <tr>
            <td>{{ nextInvoice.id }}</td>
            <td
              [pTooltip]="
                nextInvoice.user_name + ' ' + nextInvoice.user_last_name
              "
              tooltipPosition="top"
            >
              {{ nextInvoice.user_name + " " + nextInvoice.user_last_name }}
            </td>
            <td [pTooltip]="nextInvoice.user_email" tooltipPosition="top">
              {{ nextInvoice.user_email }}
            </td>
            <td [pTooltip]="nextInvoice.product_name" tooltipPosition="top">
              {{ nextInvoice.product_name }}
            </td>
            <td [pTooltip]="nextInvoice.quota_value" tooltipPosition="top">
              {{ nextInvoice.quota_value }}
            </td>
            <td
              [pTooltip]="nextInvoice.payed_percent + '%'"
              tooltipPosition="top"
            >
              {{ nextInvoice.payed_percent }}%
            </td>
            <!-- <td
              [pTooltip]="
                nextInvoice.num_quota_payed +
                ' de ' +
                nextInvoice.number_of_quotas
              "
              tooltipPosition="top"
            >
              {{
                nextInvoice.num_quota_payed +
                  " de " +
                  nextInvoice.number_of_quotas
              }}
            </td> -->
            <td
              [pTooltip]="
                nextInvoice.num_quota_payed == nextInvoice.number_of_quotas
                  ? 'Completado'
                  : (nextInvoice.prox_page_date | dateFormat)
              "
              tooltipPosition="top"
            >
              {{
                nextInvoice.num_quota_payed == nextInvoice.number_of_quotas
                  ? "Completado"
                  : (nextInvoice.prox_page_date | dateFromNow)
              }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">
              {{ "No se han encontrado coincidencias" }}
            </td>
          </tr>
        </ng-template>
      </p-table>

      <p-paginator
        #paginator
        (onPageChange)="onPageChange($event)"
        [rows]="queryPagination.size"
        [totalRecords]="totalRows"
      />
    </div>
  </p-card>
</div>
