<form
  class="flex flex-column gap-3"
  [formGroup]="formGroup"
  (ngSubmit)="save()"
>
  <div class="flex gap-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="category">Categoría</label>
      <p-dropdown
        styleClass="w-full"
        inputId="category"
        formControlName="category"
        [options]="categories"
        optionLabel="name"
        optionValue="code"
        placeholder="Seleccione una categoría"
      />
    </div>
  </div>

  <div class="flex gap-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="differential">Diferencial</label>
      <p-inputNumber
        styleClass="w-full"
        formControlName="differential"
        inputId="differential"
        [minFractionDigits]="2"
      />
    </div>

    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="earnings_percent">Ganancia</label>
      <p-inputNumber
        styleClass="w-full"
        formControlName="earnings_percent"
        inputId="earnings_percent"
        [minFractionDigits]="2"
      />
    </div>

    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="discount_usd">Descuento para pagos en divisas</label>
      <p-inputNumber
        styleClass="w-full"
        formControlName="discount_usd"
        inputId="discount_usd"
        suffix=" %"
        [min]="0"
        [max]="100"
      />
    </div>
  </div>

  <div class="w-full flex justify-content-end mt-3">
    <p-button
      class="btn-primary"
      type="submit"
      [disabled]="!formGroup.valid"
      [loading]="loading"
      label="Guardar"
    />
  </div>
</form>
