<form
  class="flex flex-column gap-3"
  [formGroup]="formGroup"
  (ngSubmit)="createOrEdit()"
>
  <div class="flex gap-3 mt-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="name">Nombre</label>
      <input
        pInputText
        styleClass="w-full"
        formControlName="firstName"
        inputId="firstName"
      />
    </div>
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="last_name">Apellido</label>
      <input
        pInputText
        styleClass="w-full"
        formControlName="lastName"
        inputId="lastName"
      />
    </div>
  </div>
  <div class="flex gap-3 mt-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="identification">Cédula</label>
      <input
        pInputText
        styleClass="w-full"
        formControlName="dni"
        inputId="dni"
      />
    </div>
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="birthdate">Fecha de nacimiento</label>
      <p-calendar
        formControlName="birthdate"
        inputId="birthdate"
        styleClass="w-full"
        dateFormat="dd/mm/yy"
      />
    </div>
  </div>
  <div class="flex gap-3 mt-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="phone">Teléfono</label>
      <input
        pInputText
        styleClass="w-full"
        formControlName="phone"
        inputId="phone"
      />
    </div>
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="postal_code">Código postal</label>
      <input
        pInputText
        styleClass="w-full"
        formControlName="postalCode"
        inputId="postalCode"
      />
    </div>
  </div>

  @if(role == 'expert' || (user && user.role == 'expert')) {
  <div class="flex gap-3 mt-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="profiles">Perfiles</label>
      <p-multiSelect
        [options]="profiles"
        optionLabel="name"
        optionValue="id"
        formControlName="profiles"
        styleClass="w-full"
        placeholder="Seleccione perfiles"
      />
    </div>
  </div>
  }

  <div class="flex gap-3 mt-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="email">Correo electrónico</label>
      <input
        pInputText
        type="email"
        styleClass="w-full"
        formControlName="email"
        inputId="email"
      />
    </div>
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="password">Contraseña</label>
      <p-password
        inputId="password"
        styleClass="w-full"
        inputStyleClass="w-full"
        formControlName="password"
        [feedback]="true"
      />
    </div>
  </div>

  <div class="flex gap-3 mt-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="address">Dirección</label>
      <input
        pInputText
        styleClass="w-full"
        formControlName="address"
        inputId="address"
      />
    </div>
  </div>

  <div class="w-full flex justify-content-end mt-3">
    @if (option == 'edit') {
    <p-button
      class="btn-primary"
      type="submit"
      [disabled]="!formGroup.valid"
      [loading]="loading"
      label="Guardar usuario"
    />
    } @else {
    <p-button
      class="btn-primary"
      type="submit"
      [disabled]="!formGroup.valid"
      [loading]="loading"
      label="Guardar usuario"
    />
    }
  </div>
</form>
