<form
  class="flex flex-column gap-3"
  [formGroup]="formGroup"
  (ngSubmit)="createOrEdit()"
>
  <div class="flex gap-3 mt-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="first_name">Nombre</label>
      <input
        pInputText
        styleClass="w-full"
        formControlName="first_name"
        inputId="first_name"
      />
    </div>

    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="last_name">Apellido</label>
      <input
        pInputText
        styleClass="w-full"
        formControlName="last_name"
        inputId="last_name"
      />
    </div>
  </div>

  <div class="flex gap-3 mt-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="identification">Número de Cédula</label>
      <input
        pInputText
        styleClass="w-full"
        formControlName="identification"
        inputId="identification"
      />
    </div>

    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="username">Nombre de usuario</label>
      <input
        pInputText
        styleClass="w-full"
        formControlName="username"
        inputId="username"
      />
    </div>
  </div>

  <div class="flex gap-3 mt-3">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="email">Correo electrónico</label>
      <input
        pInputText
        styleClass="w-full"
        formControlName="email"
        inputId="email"
      />
    </div>

    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="phone">Teléfono</label>
      <input
        pInputText
        styleClass="w-full"
        formControlName="phone"
        inputId="phone"
      />
    </div>
  </div>

  <div class="flex">
    <div class="w-full flex flex-column justify-content-center gap-2">
      <label for="address">Dirección</label>
      <input
        pInputText
        styleClass="w-full"
        formControlName="address"
        inputId="address"
      />
    </div>
  </div>

  <div class="w-full flex justify-content-end mt-3">
    <p-button
      class="btn-primary"
      type="submit"
      [disabled]="!formGroup.valid"
      [loading]="loading"
      label="Guardar vendedor"
    />
  </div>
</form>
