<div>
  <p><strong>ID del pago: </strong> {{ invoice.id }}</p>
  <p><strong>ID del contrato: </strong> {{ invoice.id_contract }}</p>
  <p><strong>Usuario: </strong> {{ invoice.user_name }}</p>
  <p><strong>Correo del usuario: </strong> {{ invoice.user_email }}</p>
  @if (invoice.name_send) {
  <p><strong>Nombre de quien hizo el pago: </strong> {{ invoice.name_send }}</p>
  } @if (invoice.email_send) {
  <p>
    <strong>Correo de quien hizo el pago: </strong> {{ invoice.email_send }}
  </p>
  } @if (invoice.phone) {
  <p><strong>Teléfono: </strong> {{ invoice.phone }}</p>
  } @if (invoice.dni) {
  <p><strong>Cédula: </strong> {{ invoice.dni }}</p>
  }
  <p><strong>Producto: </strong> {{ invoice.product_name }}</p>
  <p><strong>Monto: </strong> {{ invoice.amount }}</p>

  @if (invoice.num_reference) {
  <p><strong>Referencia del pago: </strong> {{ invoice.num_reference }}</p>
  } @else {
  <p><strong>Referencia: </strong> {{ invoice.payment_ref }}</p>
  }

  <p><strong>Método de pago: </strong> {{ invoice.payment_method }}</p>
  <p><strong>Fecha del pago: </strong> {{ invoice.payment_date }}</p>
  <p>
    <strong>Fecha del próximo pago: </strong> {{ invoice.payment_prox_date }}
  </p>
  <p>
    <strong>Verificado: </strong> {{ invoice.verified_payment ? "Sí" : "No" }}
  </p>
  @if (!invoice.verified_payment) {
  <p-button
    class="btn-primary"
    label="Verificar pago"
    (onClick)="verifyPayment(invoice.id)"
  />

  } @if (invoice.num_reference) {
  <p><strong>Referencia del depósito: </strong> {{ invoice.num_reference }}</p>

  } @if (invoice.img) {
  <p><strong>Comprobante del depósito: </strong></p>
  <img [src]="invoice.img" width="100%" />
  }

  <div class="flex justify-content-end">
    <p-button
      class="btn-primary"
      label="Cerrar"
      (onClick)="refDialog.close()"
    />
  </div>
</div>

<p-confirmDialog />
